<%- include('../partials/header') %>

  <ul>
    <% lists.forEach(function(l) { %>
      <li>
        <a href="/lists/<%= l.id %>"><%= l.list %></a>
        <%= l.finished ? 'finished' : 'Ongoing' %>
      </li>
    <% }); %>
  </ul>
  <a href="/lists/new">Add Things</a>
