<%- include('../partials/header') %>
<h3>Add New Things Below</h3>

  <form action="/lists" method="POST" autocomplete="off">
    <input type="text" name="list">
    <button type="submit">Save</button>
  </form>

<%- include('../partials/footer') %>