<!DOCTYPE html>
<html>
  <head>
    <title>Express DEV Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home Page</h1>
    <a href="/">Home</a>
      |
    <a href="/lists">All Lists</a>
    <h3><%= title %></h3>
  </body>
</html>
